# Day 2 Advent of code:

In [6]:
input = '11-22,95-115,998-1012,1188511880-1188511890,222220-222224,1698522-1698528,446443-446449,38593856-38593862,565653-565659,824824821-824824827,2121212118-2121212124'

# input = 11-22,95-115,998-1012,1188511880-1188511890,222220-222224,1698522-1698528,446443-446449,38593856-38593862,565653-565659,824824821-824824827,2121212118-2121212124
# we need to split and make it into list of strings

In [3]:
real_input = '52-75,71615244-71792700,89451761-89562523,594077-672686,31503-39016,733-976,1-20,400309-479672,458-635,836793365-836858811,3395595155-3395672258,290-391,5168-7482,4545413413-4545538932,65590172-65702074,25-42,221412-256187,873499-1078482,118-154,68597355-68768392,102907-146478,4251706-4487069,64895-87330,8664371543-8664413195,4091-5065,537300-565631,77-115,83892238-83982935,6631446-6694349,1112-1649,7725-9776,1453397-1493799,10240-12328,15873-20410,1925-2744,4362535948-4362554186,3078725-3256936,710512-853550,279817-346202,45515-60928,3240-3952'

In [2]:
# numbers = 11-22,95-115,998-1012,1188511880-1188511890,222220-222224,1698522-1698528,446443-446449,38593856-38593862,565653-565659,824824821-824824827,2121212118-2121212124
# ranga = []
# ranga = numbers.split(',') 
# print(ranga)
# AttributeError: 'tuple' object has no attribute 'split'
# doesnt work

In [7]:
ranges = input.split(',')
ranges

# works only if adding ' at beginning & end of string input - way to automate it

['11-22',
 '95-115',
 '998-1012',
 '1188511880-1188511890',
 '222220-222224',
 '1698522-1698528',
 '446443-446449',
 '38593856-38593862',
 '565653-565659',
 '824824821-824824827',
 '2121212118-2121212124']

In [4]:
# splitting string/word into half to check for pattern

string = '7834'
firstpart = string[:len(string)//2]
secondpart = string[len(string)//2:]
print(firstpart, secondpart)

78 34

In [5]:
# function checking in invalid / valid ID:

def is_invalid(s):
    if len(s) % 2 == 1:
        return False
   
    firstpart = string[:len(string)//2]
    secondpart = string[len(string)//2:]

    if firstpart == secondpart: 
        return True
    else:
        return False

In [6]:
# testing function 
is_invalid(string)

False

In [7]:
# loop to go over every range

#for range in ranges: 
 #   is_invalid(range)
#print

In [9]:
# function to accept range and go over every number in that range ingluding last number
#Range = '11-22'
# is a string 
# need to mak it into list somehow -> seperate by - 
#start_stop_split = Range.split('-')
#start_stop_split


r = '11-22'

# Initialize an empty list
l = []

# Split the string and iterate over the parts
for num in r.split('-'):
    l.append(int(num))

# Print the result
print(l)

[11, 22]

In [27]:
for num in range(l[0], l[1]+1):
    print(num)

11
12
13
14
15
16
17
18
19
20
21
22

In [10]:
input = '11-22,95-115,998-1012,1188511880-1188511890,222220-222224,1698522-1698528,446443-446449,38593856-38593862,565653-565659,824824821-824824827,2121212118-2121212124'

In [11]:
ranges = input.split(',')
ranges

result = 0 

for part in ranges: 
    for num in range(l[0], l[1]+1):
        first_part = num[:len(num)//2]
        second_part = num[len(num)//2:]
        if first_part == second_part:
            result += int(num)

            if firstpart == secondpart: 
        return True
    else:
        return False 
        
result

IndentationError: expected an indented block after 'if' statement on line 13 (3074541632.py, line 14)