# 2. Variables and Assignment

## - Software Carpentry

In [2]:
age = 42
first_name = 'Ahmed'

In [3]:
print(first_name, "is", age, "years old")

Ahmed is 42 years old

In [4]:
last_name = "Francis"

In [5]:
print(first_name, last_name, "is", age, "years old")

Ahmed Francis is 42 years old

In [6]:
age = age + 3
print("Age in three years:", age)

Age in three years: 45

In [9]:
x = 5 
x += 3
print(x)

8

### Rosalind: INI2

In [12]:
c = (904**2 + 989**2)
print(c)

1795337

= correct

### w3 schools tests transcript:

<ins>python - variable</ins>

python variable: x = 5

x = "John"
is the same as
x = 'John' 
= true

a = 5
is NOT the same as
A = 5

print the data type of a variable: print(type(myvar))

<ins>python - variable names</ins>

not a leagal variable name: my-var = 20

possible names: my_var OR Myvar OR _myvar = 20

Create variable named carname and assign the value Volvo to it: carname = "Volvo"

Create a variable named x and assign the value 50 to it: x = 50

<ins>python - multiple variable values</ins>

add the value 'Hello World', to 3 variables in one statement: x = y = z = "Hello World"

assign values to multiple variables in one line: x , y , z = "Orange", "Banana", "Cherry"

Consider the following code:
fruits = ['apple', 'banana', 'cherry']
a, b, c = fruits  
print(a) -> result: apple

<ins>python - output variable</ins>

print('Hello', 'World')  
What will be the printed result?  
= Hello World

a = 'Hello'  
b = 'World'  
print(a + b)  
What will be the printed result?  
= HelloWorld

a = 4  
b = 5  
print(a + b)  
What will be the printed result?  
= 9

### challenges carpentries

In [14]:
x = 5
x += 3
print(x)

8

In [15]:
print(10 __ 5)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (299026909.py, line 1)

In [16]:
print(10 * 5)

50