# 2. Variables and Assignment

## - Software Carpentry

In [2]:
age = 42
first_name = 'Ahmed'

In [3]:
print(first_name, "is", age, "years old")

Ahmed is 42 years old

In [4]:
last_name = "Francis"

In [5]:
print(first_name, last_name, "is", age, "years old")

Ahmed Francis is 42 years old

In [6]:
age = age + 3
print("Age in three years:", age)

Age in three years: 45

In [47]:
x = 5 
x += 3
print(x)

8

### Rosalind: INI2

In [12]:
c = (904**2 + 989**2)
print(c)

1795337

= correct

### Rosalind: INI3

<ins>examples</ins>

In [69]:
txt = "Hello World"
x = txt[2:5]
print(x)

llo

In [68]:
tea_party = ['March Hare', 'Hatter', 'Dormouse', 'Alice']
print (tea_party[2])

Dormouse

<ins>problem:</ins>

Problem  
Given: A string s of length at most 200 letters and four integers a , b , c and d  
  
Return: The slice of this string from indices a through b and c through d (with space in between), inclusively.  
In other words, we should include elements s[b] and s[d] in our slice.  
  
Sample Dataset  
HumptyDumptysatonawallHumptyDumptyhadagreatfallAlltheKingshorsesandalltheKingsmenCouldntputHumptyDumptyinhisplaceagain.  
22 27 97 102  
Sample Output  
Humpty Dumpty

In [67]:
s = "oWW7rTupinambusBbO2TF6OeCnA5bOySE5JDYLTYtQmp3sp3DvObw7yB5SgVxILhUTCqNGFKuSFuCycF967tSDIRj3PFbtgqTbAl4rzJwyUZLnYMaRDgCV37MfNEWjD5qThaliaetus9g7eLcEbGbYNcch4ZC2OXQbq2aK7ZkTHjlqYUYqZ4t"
a, b, c, d = 5, 14, 130, 138
print(s[a:b+1], s[c:d+1])

Tupinambus haliaetus

### w3 schools tests transcript:

<ins>python - variable</ins>

python variable: x = 5

x = "John"
is the same as
x = 'John' 
= true

a = 5
is NOT the same as
A = 5

print the data type of a variable: print(type(myvar))

<ins>python - variable names</ins>

not a leagal variable name: my-var = 20

possible names: my_var OR Myvar OR _myvar = 20

Create variable named carname and assign the value Volvo to it: carname = "Volvo"

Create a variable named x and assign the value 50 to it: x = 50

<ins>python - multiple variable values</ins>

add the value 'Hello World', to 3 variables in one statement: x = y = z = "Hello World"

assign values to multiple variables in one line: x , y , z = "Orange", "Banana", "Cherry"

Consider the following code:
fruits = ['apple', 'banana', 'cherry']
a, b, c = fruits  
print(a) -> result: apple

<ins>python - output variable</ins>

print('Hello', 'World')  
What will be the printed result?  
= Hello World

a = 'Hello'  
b = 'World'  
print(a + b)  
What will be the printed result?  
= HelloWorld

a = 4  
b = 5  
print(a + b)  
What will be the printed result?  
= 9

<ins>python - slicing strings</ins>

result of the following code:
x = 'Welcome'
print(x[3:5])

In [50]:
x = 'Welcome' 
print(x[3:5])

co

In [58]:
txt = "Hello World"
x = txt[2:5]
print(x)

llo

In [59]:
txt = "Hello World"
x = txt[2:5]
x

'llo'

In [55]:
x = 'Welcome'
print(x[3:])

come

### challenges carpentries

In [14]:
x = 5
x += 3
print(x)

8

In [17]:
10*5

50

In [18]:
atom_name = 'helium'
print(atom_name[0])

h

In [19]:
print(atom_name[3])

i

In [60]:
atom_name = 'sodium'
print(atom_name[0:3])

sod

In [21]:
print(atom_name[2:5])

diu

In [22]:
print(len('helium'))

6

In [24]:
print(len('frenchidog'))

10

python is case-sensitive !!

In [30]:
flabadab = 42
ewr_422_yY = 'Ahmed'
print(ewr_422_yY, 'is', flabadab, 'years old')

Ahmed is 42 years old

# <font color='red'>swapping values challenge</font>

<font color='green'>text</font>

In [31]:
a = 123
print(a[1])

TypeError: 'int' object is not subscriptable

In [32]:
a = str(123)
print(a[1])

2

str() function to work a number like a string

In [33]:
atom_name = 'carbon'
print('atom_name[1:3] is:', atom_name[1:3])

atom_name[1:3] is: ar

In [35]:
species_name = "Acacia buxifolia"
species_name[2:8]

'acia b'

In [36]:
species_name[11:]

'folia'

In [39]:
species_name[:4]

'Acac'

In [40]:
species_name[:]

'Acacia buxifolia'

In [41]:
species_name[11:-3]

'fo'

In [38]:
species_name[-5:-3]

'fo'

In [42]:
species_name[0:20]

'Acacia buxifolia'

In [43]:
species_name[:103]

'Acacia buxifolia'

### <font color="blue">what does the "^" operator do:</font>

In [25]:
5^2

7

In [26]:
5**2

25

**: exponentiation  
^: exclusive-or (bitwise)  
%: modulus  
//: divide with integral result (discard remainder)

The ^ operator does a binary xor.  
a ^ b will return a value with only the bits set in a or in b but not both.

a = 5      # binary: 0101  
b = 3      # binary: 0011  
result = a ^ b  
print(result)  # Output: 6  
  
Explanation:  
   0101   (5)  
^  0011   (3)  
=  0110   (6)  
So 5 ^ 3 gives 6.