# dictionaries

key1 --> value 1  
key2 --> value 2

curly brackets to define dictionary

key : value  
values seperated by comma

dictionaries are mutable (just like lists)

copy better item by item

with len(dictionary) = number of pairs

deleting things from dictionary: statement: del dictionary["key"]

sort keys ?  
dictionary.keys()  
dictionary.values()  
type(dictionary.values())  
list(dictionary.values())  
dictionary.items() = gives all the pairs  
shopping_keys = list(dictionary.keys())  
shopping_keys ----> now sorted keys of dictionary

we can have lists inside dictionaries

values are lists - dictionary in dictionary are possible

## 7) carpentries dictionaries excercises:

In [4]:
grades = {'Juan': {'Maths': 2},
          'John': {'History': 1, 'Biology': 3},
          'Gianni': {'Biology': 1}}

grades['Juan']['History'] = 2
grades['Juan']['Biology'] = 1

grades['John']['Maths'] = 1

grades['Gianni']['History'] = 4
grades['Gianni']['Maths'] = 3

print(grades)

{'Juan': {'Maths': 2, 'History': 2, 'Biology': 1}, 'John': {'History': 1, 'Biology': 3, 'Maths': 1}, 'Gianni': {'Biology': 1, 'History': 4, 'Maths': 3}}

# loops

In [5]:
for number in [1, 2 ,3, 4, 5]:
    print(number)

1
2
3
4
5

In [6]:
for number in [123, 52, 38, 41, 50]:
    print(number)

123
52
38
41
50

In [7]:
for number in [123, 52, 38, 41, 50]:
    print(number)
    double = number * 2
    print(double)

123
246
52
104
38
76
41
82
50
100

In [12]:
for number in [123, 52, 38, 41, 50]:
    double = number * 2
    print(number, double)

    print('loop finished')

123 246
loop finished
52 104
loop finished
38 76
loop finished
41 82
loop finished
50 100
loop finished

In [13]:
for number in [123, 52, 38, 41, 50]:
    double = number * 2
    print(number, double)

print('loop finished')

123 246
52 104
38 76
41 82
50 100
loop finished

In [15]:
s = "the quick brown fox jumps over the lazy dog"
for character in s:
    print(character)

t
h
e

q
u
i
c
k

b
r
o
w
n

f
o
x

j
u
m
p
s

o
v
e
r

t
h
e

l
a
z
y

d
o
g

In [20]:
s = "the quick brown fox jumps over the lazy dog"
for words in s.split():
    print(words)

the
quick
brown
fox
jumps
over
the
lazy
dog

In [18]:
s.split()

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [22]:
placeholder= 'x' * 6
for character in placeholder:
    print("HELP")

HELP
HELP
HELP
HELP
HELP
HELP

In [26]:
for i in range(9):
    print(i, "HELP")

0 HELP
1 HELP
2 HELP
3 HELP
4 HELP
5 HELP
6 HELP
7 HELP
8 HELP

i just to see where help is 
normally gootd for big numbers lik 150 or so

In [25]:
for i in range(9):
    print("HELP")

HELP
HELP
HELP
HELP
HELP
HELP
HELP
HELP
HELP

In [28]:
shopping = ["bread", "milk", "cheese"]
times = [1, 4, 10]
market = ["oefferl", "billa", "hofer"]

now 3 list to go over - so far only looped over 1 list

In [30]:
for i in range(3):
    print("buy", shopping[i], times[i], "times in", market[i])

buy bread 1 times in oefferl
buy milk 4 times in billa
buy cheese 10 times in hofer

In [33]:
for i in range(len(shopping)):
    print("buy", shopping[i], times[i], "times in", market[i])

buy bread 1 times in oefferl
buy milk 4 times in billa
buy cheese 10 times in hofer

In [34]:
for i, item in enumerate(shopping):
    print(i, item)

0 bread
1 milk
2 cheese

In [35]:
for i, item in enumerate(shopping):
    print("buy", item, times[i], "times in", market[i])

buy bread 1 times in oefferl
buy milk 4 times in billa
buy cheese 10 times in hofer